* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courgette', cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*font-size: 17px;*/
    color: yellow;
    background: blanchedalmond;
    line-height: 1.6;
    height: 100vh;
    /*overflow: hidden;*/
}

.container {
    width: 100%;
    height: 100%;
    /*CSS smoothscroll
    overflow-y: scroll;
    scroll-behavior: smooth; */
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(243, 232, 134, 0.7); 
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-emphasis: none;
    text-transform: uppercase;
    color: brown;
}

.navbar ul li a:hover {
    color: skyblue;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section h1 {
    font-size: 4rem;
}
section p {
    font-size: 1.5rem;
}

section#home {
    background: url('./img/chairs-classroom-desks-2675050.jpg');
     /* shorter syntax is writing this after the image url before semicolon
     :no-repeat center center/cover*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
section#kindergarten {
    background: url('./img/architecture-building-daycare-159790.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
section#primary {
    background: url('./img/abc-accomplished-alphabet-48898.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
section#junior-school {
    background: url('./img/back-to-school-conceptual-cube-207658.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
section#high-school {
    background: url('./img/chairs-classroom-desks-2675061.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
section#contact {
    background: url('./img/color-colorful-colors-2091.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}







/*#showcase{
    background-image: url('./img/chairs-classroom-desks-2675050.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;

}

#showcase h1{
    font-size: 50px;
}

#showcase p{
    font-size: 20px;
}
#showcase .button{
    font-size: 18px;
    text-decoration: none;
    color: coral;
    border: crimson 3px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}*/